/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

@font-face {
  font-family: "Qartuli";
  src: url("/assets/fonts/bpg_banner_caps.ttf") format("truetype"); /* Safari, Android, iOS */
}

* {
  box-sizing: border-box;
  font-family: "Qartuli", cursive;
}
